:root {
  --bg: #ececec;
  --bgSide: #FFFFFF;
  --bgHead: #e5e5e5;
  --bgContent: #FFFFFF;
  --txt: #000000;
  --bgButton: #01a7db;
  --txtButton: #FFFFFF;
  --bgButtonHover: #019ecf;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg);
  color: var(--txt);
  overflow: hidden;
}

/*  TOAST  */
.toast {
  min-width: 250px;
}

.toasts {
  position: absolute;
  bottom: 25px;
  right: 10px;
  z-index: 1000;
}

/*  LAYOUT   */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 7;
  top: 0;
  background-color: var(--bgSide);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebarOpen {
  width: 350px;
}

.sidebarRight {
  right: 0;
}

.sidebarLeft {
  left: 0;
}

.main {
  transition: margin-left .5s, margin-right .5s;
  height: 100%;
}

.main.openLeft {
  margin-left: 350px;
}

.main.openRight {
  margin-right: 350px;
}

/*   SIDEBAR ELEMENTS   */
.tab {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  display: none;
  height: 0px;
  background-color: var(--bgContent);
  transition: height 0.4s;
}

.tab.open .content {
  display: block;
  height: inherit;
  padding: 5px;
}

.section {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
  align-items: center;
}

.section>* {
  margin: 0 auto;
}

.section .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
  margin: 0px 16px
}

.column img {
  height: 80%;
}

.head {
  background-color: var(--bgHead);
  height: 32px;
  line-height: 32px;
  cursor: default;
  display: flex;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
}

.tab .icon {
  background-size: cover;
  background-position: center;
  width: 13px;
  height: 13px;
  margin: 0px 3px 0px 6px;
}

.tab .icon {
  background-image: url("../assets/img/arrow-close.svg");
}

.tab.open .icon {
  background-image: url("../assets/img/arrow-open.svg");
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 91%;
}

.tab .row>input {
  width: 200px;
}

.tab .counter input[type=text] {
  width: 85px;
}

.tab .but:not(.btn-sm) {
  width: 38px;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  padding: 0px;
}

.tab .but {
  cursor: default;
}

.output {
  font-size: 14px;
  text-align: center;
  margin: 0px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.output .list-group>* {
  padding: 5px;
}

/*  WORKSPACE  */
canvas {
  position: absolute;
}

canvas.selected {
  border: 1px dashed black;
}

.toolsSection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 0.5;
  position: absolute;
  z-index: 1;
  top: 165px;
  border: var(--bgHead) solid 1px;
  border-left: none;
  padding: 5px;
  width: fit-content;
  height: max-content;
  background-color: var(--bgContent);
}

.toolsSection>div:first {
  height: max-content;
}

.toolsSection.closeSection {
  padding: 0px;
}

.toolsSectionToogle:hover {
  background-color: var(--bgButtonHover);
}

.toolsSection img {
  width: 10px;
  position: inherit;
  top: 47%;
}

.toolsSectionToogle {
  position: absolute;
  min-height: 164px;
  height: -webkit-fill-available;
  width: 14px;
  border-radius: 0px 10px 10px 0px;
  background-color: var(--bgButton);
  left: 52px;
  top: 0px;
}

.toolsSection.closeSection .toolsSectionToogle {
  left: 0px;
}

.tools {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  left: 0px;
  top: 5px;
}

.tool .icon {
  display: flex;
}

.tool .icon img {
  margin: 0 auto;
  width: 32px;
  height: 32px;
}

.tool {
  border-radius: 50px;
  height: 32px;
  margin: 5px;
  position: relative;
}

.workspace {
  display: flex;
  width: 100%;
  overflow: auto;
}

.space {
  background-color: white;
  margin: auto;
  position: relative;
}

.space3D {
  position: relative;
}

.laser {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
}

/* FileManager */
.filesList {
  cursor: default;
}

/* Modal Device */
.Size {
  display: flex;
  line-height: 38px;
  margin-top: 15px;
  justify-content: space-evenly;
}

.Size .form-control {
  display: block;
  width: 80px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-right: 0px;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* dimension Select */
.dimensionSelect {
  width: 250px;
  margin-top: 3px;
}

.dimensionSelect>label {
  margin-bottom: auto !important;
}

/* Modal Drill */
.modal_drill table {
  width: 100%;
}

.modal_drill tr {
  text-align: center;
}

.modal_drill td {
  padding: 10px;
}

.modal_drill td p {
  margin: auto;
}

.modal_drill table .form-check-inline {
  margin-right: 0px;
}

.modal_drill tbody tr {
  border-bottom: #c9d1d8 1px solid;
}

.modal_drill input[type="checkbox"] {
  width: 20px;
  height: 20px;
}